[Unit]
Description=IPO Application Scheduler
After=network.target

[Service]
Type=simple
User=paweshashrestha
WorkingDirectory=/home/paweshashrestha/Desktop/ipo
Environment="PATH=/home/paweshashrestha/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/usr/bin/python3 /home/paweshashrestha/Desktop/ipo/src/scheduler/run.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
